<% include header.ejs %>

<!-- Start Page Loading -->
<div class="loading"><img src="/img/loading.gif" alt="loading-img"></div>
<div id="top" class="clearfix">

  <% include ../common/app_logo.ejs %>

  <!-- Start Top Right -->
  <ul class="top-right">

    <li class="link">
      <a href="#" class=""><b><%= user.name %></b></a>
    </li>
    <li class="link">
      |
    </li>
    <li class="link">
      <a href="/logout" class=""><i class="fa falist fa-power-off"></i> Logout</a>
    </li>

  </ul>
  <!-- End Top Right -->

</div>

<div class="hide" id="producerBox"></div>
<div id="show_container" event=<%= eventId %> username=<%= user.name %> broadcast_enabled="<%=user.hls_enabled%>" interactive_limit="<%=interactive_limit%>" admins_id=<%= user.userHash %> postproductionurl_enabled="<%=postproductionurl_enabled%>" signaling_url="<%=signaling_url%>">
</div>

<script>
  window.streamOptions = JSON.parse('<%- streamOptions %>');
</script>

<% include footer.ejs %>
