<% include common/header.ejs %>
<body <% if (embed == 1) { %>class="embedWidget"<% } %>>
<!-- Start Page Loading -->
<div class="loading"><img src="/img/loading.gif" alt="loading-img"></div>
<!-- End Page Loading -->
<!-- END TOP -->
<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- START CONTENT -->
<div id="fanApp" class="content fan_view no-header" admins_id="<%= admins_id %>" session_id="<%= session_id %>" url="<%= fan_url %>" subscribe_audio="<%= subscribe_audio %>" crop_video="false" event_name="<%=event_name%>" event_image="<%=event_image%>" broadcast_enabled="<%=broadcast_enabled%>" signaling_url="<%=signaling_url%>">
</div>

<div id="fanBox"></div>
<div id="hostBox"></div>
<div id="celebrityBox"></div>

<div id="producerBox" class="hide"></div>
<% include common/footer.ejs%>
</body>
</html>
